<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 图书管理系统 {% endblock %} </title>
    <link rel=stylesheet type=text/css href="/static/css/style.css">
</head>
<body>
    <div class=page>
      <h1>图书管理系统</h1>
      <div class=navigation>
        {% block link %}{% endblock %}
      </div>
      <div class=body>
        {% block body %}{% endblock %}
       </div>
      <div class=footer>
         &mdash; <big>河南大学</big>
      </div>
    </div>
</body>
</html>
