{% extends "base.html" %}
{% load extend_fun %}
{% block link %}
    <a href="{% url 'library:querybook' %}"> 返回   </a>|
{% endblock %}


{% block body %}
<h3>图书信息</h3>
编号：{{book.id}}<br>
书名：{{book.bname}}<br>
作者：{{book.auther}}<br>
出版社：{{book.public_com}}<br>
出版时间：{{book.public_date}}<br><br>
<h3>借阅信息</h3>
{% get_borrows as borrows %}
{% for borrow in borrows %}
    {% if borrow.bname == book %}
    <h4>已借阅</h4>
    {% else %}
    <h4>未借阅</h4>
    <form action="{% url 'library:book_info' book.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="借阅">
    </form>
    {% endif %}
{% empty %}
<h4>未借阅</h4>
<form action="{% url 'library:book_info' book.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="借阅">
</form>
{% endfor %}



{% endblock %}