{% extends "base.html" %}
{% block link %}
    <a href="{% url 'library:querybook' %}"> 返回   </a>|
{% endblock %}


{% block body %}
<h3>图书信息</h3>
编号：{{book.id}}<br>
书名：{{book.bname}}<br>
作者：{{book.auther}}<br>
出版社：{{book.public_com}}<br>
出版时间：{{book.public_date}}<br><br>

<div>
  <h2 > 借阅信息 </h2>
  {% if res  %}
  <li> 借阅者姓名 {{borrow.uname}}</li>
  <li> 借阅日期  {{borrow.date_borrow}}</li>
  <li> 还书日期  {{borrow.date_retur}}</li>
  {% else %}
  <li> 无 </li>
    <form action="{% url 'library:book_info' book.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="借阅">
    </form>
  {% endif %}
</div>

{% endblock %}