{% extends "base.html" %}

{% block link %}
	<a href="{% url 'library:user_info' %}"> 返回   </a>|

{% endblock %}


{% block body %}
    {% if error %}
	<div class=error>
	  <strong>Errror : </strong> {{error}}
	</div>
	{% endif %}
    <form action="{% url 'library:user_info_update' user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h6 style="color: red">填写即为修改，不填默认原信息</h6>
        <h4>用户名：<br><input type="text" name="uname" placeholder={{user.username}}></h4>
        <h4>头像：</h4>
        {% if user.headpic %}
        <h5 style="color: red">已有头像，切换请重选。。。</h5>
        <input type="file" name="headpic" >
        {% else %}
        <input type="file" name="headpic" >
        {% endif %}
        <h4>密码：<br><input type="text" name="pwd" ></h4>
        <h4>学院：<br><input type="text" name="college" placeholder={{user.college}}></h4>
        <h4>学号：<br><input type="text" name="uno" placeholder={{user.uno}}></h4>
        <h4>email：<br><input type="text" name="email" placeholder={{user.email}}></h4>
        <input type="submit" value="提交">
    </form>
{% endblock %}